body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: slateblue;
}

.navbar_logo {
    font-size: 24px;
    color: rgb(234, 217, 217);
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_icons {
    list-style: none;
    display: flex;
    padding: 0 ;
}

.navbar_icons li:first-child {
    color: deepskyblue;
    margin-right: 16px;
}

.navbar_icons li:nth-child(2) {
    color: blue;
    margin-right: 16px;
}


.navbar_menu li:hover {
    background-color: azure;
    border: 1px solid black;
    border-radius: 15px;
}

@media screen and (max-width: 768px) {
    /* 최대 768px 까지는 세로 정렬*/
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar_menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_icons {
        justify-content: center;
        width: 100%;
    }
}